* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #02132f;
}
.kategori_wrapper img {
  width: 250px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.category {
  height: 60%;
  width: 70%;
}
.img-wrapper {
  width: 30%;
  padding: 10px;
  margin: 10px;
}

.kategori_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 50px;
}
.category {
  cursor: pointer;
}

.category p {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.3rem;
  text-shadow: 0 0 1em hsla(0, 0%, 100%, 0.5), 0 0 0.125em hsla(320, 91%, 79%, 0.5);
}
.kategori_wrapper .spiritus_style {
  max-width: 680px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.spiritus_style:hover {
  opacity: 0.9;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0));
  transform: scale(1.1);
}

@media (min-width: 700px) {
  .kategori_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
  }
  .spiritus_style {
    max-width: 700px;
    margin-top: 50px;
  }
}
@media (min-width: 900px) {
  .kategori_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .spiritus_style {
    max-width: 900px;
  }
  .logodrink img {
    margin-top: -8.5%;
  }
}
